*.pro.user
.vs
.qmake.stash
.qtc_clangd
debug
release
wfview-debug
wfserver-debug
wfview-release
wfserver-release
ui_*
portaudio_x86.dll
qcustomplot2.dll
Makefile
Makefile.Debug
Makefile.Release
*.o
moc_*.cpp
moc_*.h
qrc_*.cpp
wfview
wfserver
IC7300-screenshots/
*.log
*.ipch
test.log
Makefile.server
wfweb
CLAUDE.md
